include ./partials/header
body
<div class="container mt-5 d-flex ">

<div class="">
if videoSelected 
    <iframe width="942" height="530"  src="https://www.youtube.com/embed/#{videoSelected.videoId}?rel=0&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3 class="mt-2">#{videoSelected.nameVideo} (Adder: #{videoSelected.adder})</h3>   

else
    <iframe width="942" height="530"  src="https://www.youtube.com/embed/o3AMOGX2nsQ?rel=0&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3 class="mt-2">Mashup : Kẻ theo đuổi ánh sáng (Default)</h3>
<a href="/add" type="submit" class="btn btn-outline-primary cursor-pointer">Add video</a>
<a href="/list" type="submit" class="btn btn-outline-primary cursor-pointer mx-5">Edit video</a>
</div>


<div style="width:400px;height:600px;overflow-x:hidden;overflow-y:auto;">
<ul>
each video in videos
    li.list-unstyled
        <div class="card mb-2" style="width: 18rem;">
            <img src="https://img.youtube.com/vi/#{video.videoId}/sddefault.jpg" class="card-img-top" alt="#{video.nameVideo}">
            <div class="card-body mx-auto">
                <h5 class="card-title"><a href="/#{video._id}">#{video.nameVideo}</a></h5>
                <p class="card-text text-center" style="font-size: 0.75rem">Adder: #{video.adder}</p>
            </div>
        </div>
</li>
</ul>


</div>
</div>

include ./partials/footer