include ../partials/header
body
<div class="container">
<h3 class="d-flex justify-content-center my-4">Deleted Video List</h3>
<a href="/">Home</a>
<a href="/add/" class="mx-5">Add Video</a>
<a href="/list">Video List</a>

<div class="container mt-5 d-flex">
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name Video</th>
            <th scope="col">Adder</th>
            <th scope="col" colspan="3">Video ID</th>
        </tr>
    </thead>
    <tbody>
        each video in videos
            <tr>
                <th scope="row"></th>
                <td>#{video.nameVideo}</td>
                <td>#{video.adder}</td>
                <td>#{video.videoId}</td>
                <td><a href="/restore/#{video._id}">Restore</a></td>
                <td><a href="/forcedelete/#{video._id}">Delete</a></td>
            </tr>
        else 
            <tr>
                <td colspan="5" class=" text-center">No videos have been deleted!</td>
            </tr>
    </tbody>
</table>
<div>
include ../partials/footer